.css-1dp5vir {
    background-image: rgb(0,25,51);
    height: 0rem;
}


p {
    color: white;
    font-family: cursive, fantasy;
}

/*Input*/
div.st-b3 {

    background-color: rgb(15, 52, 96);
    border: 1px solid rgb(15, 52, 96);
    border-radius: 15px;
    height: 3rem;
    width: 15rem;
    color: black;
}

/*Input but the text inside */
input.st-bb::placeholder{
    color: white;
}

input::-moz-placeholder{
    color: white;
}

/*Body color */
div.stApp.streamlit-wide {
    /*background-color: rgb(0,25,51);*/
    background-color:rgb(22, 33, 62);
}

/*Header color*/
header.css-18ni7ap {
    background-color: rgb(22, 33, 62);
}


/*Background color*/
.css-1avcm0n{
background-color: rgb(22, 33, 62);

}

button.css-9s5bis {
    color: white;
    border: 1px solid white;
}

/* Text of the header*/
span.css-10trblm{
    font-family: serif;
    color: white;
    font-size: 3.5rem;
}
.st-by{
    color:rgb(218, 204, 230);   
}

.css-186pv6d {
    font-size: 2rem;
    color: white;
}

/*Border of the emotion*/
.css-ocqkz7 {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: stretch;
    align-items: stretch;
    gap: 1rem;
    border: 1px  solid black;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
}


/* Font of the emotions */
.css-50ug3q {
    overflow-wrap: normal;
    color: white;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Source Sans Pro", sans-serif;
    line-height: normal;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

